
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  font-size: 1.125rem;
}

