@use "../mixins" as *;
@use "../presets" as *;

.batton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  transition: background-color 0.5s;
  letter-spacing: 0.1em;
  font-size: 1.125rem;

  width: 250px;
  height: 60px;

  font-size: 1.125rem;

  color: white;
  background-color: rgba(255, 255, 255, 0.215);

  border-style: groove;
  border-color: $color-light;
  border-width: 2px;
  border-radius: 2em;
}
.batton:hover,.batton:focus {
  border-color: orange;
  border-width: 3px;
  color: orange;
  text-shadow: 0 0 15px orange;
  background-color: rgba(0, 0, 0, 0.651);
}

