@use "../mixins" as *;
@use "../presets" as *;

.bg {
  position: absolute;
  z-index: -1;
  right: 0;

  height: 100vh;

  background-position: center;
  background-size: cover;

  @include ul-min {
    width: 70%;
  }
  @include ul-xl {
    width: 80%;
  }
  @include xl-sm {
    width: 90%;
  }
  @include sm {
    width: 100%;
  }
}

.bg1 {
  position: absolute;
  left: 0;

  height: 100vh;

  background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  background-position: center;
  background-size: cover;

  @include ul-min {
    width: 30%;
  }
  @include ul-xl {
    width: 40%;
  }
  @include xl-sm {
    width: 60%;
  }
  @include sm {
    width: 100%;

    opacity: 0.3;
  }
}
