@use "../mixins" as *;
@use "../presets" as *;

.place {
	width: 100%;
	height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100vh;

  background-position: center;
  background-size: cover;
}

.bg1 {
  z-index: -1;
  position: absolute;

  left: 0;

  width: 50%;

  height: 100vh;
  background: linear-gradient(to right, rgb(83, 82, 82), rgba(0, 0, 0, 0));
  opacity: 90%;

  background-position: center;
  background-size: cover; 
}

.wrapper {
  display: flex;
  flex-direction: column;
}

