@use "../mixins" as *;
@use "../presets" as *;

.link-to {
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 30px;
}

.link-to-slider {
  padding: 20px;

  text-decoration: none;

  color: $color-primary;
  border-width: 1px;
  border-style: groove;
  border-color: $color-highlight;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.326);
  text-shadow: 0 0 40px rgb(0, 0, 0);

  @include ul-min {
    font-size: 2.4rem;
  }
  @include ul-xl {
    font-size: 1.4rem;
  }
  @include ul-xl {
    font-size: 1.3rem;
  }
  @include xl-md {
    font-size: 1.2rem;
  }
  @include md-sm {
    font-size: 1.1rem;
  }
  @include sm {
    display: inline-block;

    width: 200px;

    font-size: 1rem;
  }

  &:hover,
  &:focus {
    color: $color-highlight;
    text-shadow: 0 0 50px rgb(255, 255, 255);
  }
}

.go-to {
  margin-left: 10%;
}

.link-to-back {
  margin: 10px;
  padding: 20px;

  color: $color-primary;
  border-width: 1px;
  border-style: groove;
  border-color: $color-highlight;
  border-radius: 10px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.135);

  font-family: $font-main;
  font-size: 2.4rem;

  &:hover,
  &:focus {
    color: $color-highlight;
    text-shadow: 0 0 50px rgb(0, 0, 0);
  }
}

.go-to-b {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.text {
  text-decoration: dotted;

  color: rgb(0, 0, 0);

  font-family: $font-main;
}
