@use "../mixins" as *;
@use "../presets" as *;

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  margin: 0;
  margin-bottom: 10px;
  flex-direction: column;
}

.wrapper {
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.title {
  margin: 0;
  display: inline-block;
width: 100%;
height: 200px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
align-content: flex-start;
}

.title_name {
  margin: 0;
  color: $color-primary;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  font-weight: 400;
transition:hover 0.5s ;

  @include ul-min {
    font-size: 8rem;
  }

  @include ul-xl {
    font-size: 7rem;
  }

  @include xl-lg {
    font-size: 6rem;
  }

  @include lg-md {
    font-size: 5rem;
  }

  @include md-sm {
    font-size: 4rem;
  }

  @include sm {
    font-size: 3rem;
  }
}

.title_name:hover {
  color: orange;
  text-shadow: 0 0 50px orange;
}

.title_text {
	position: relative;
	display: inline-block;
	display: flex;
	align-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 100%;
  padding: 0.5em 1em;

  @include ul-xl {
  }

  @include xl-md {
  }

  @include md-sm {
  }

  @include sm {
  }

}

.title_text_discr {
	margin-right: 100px;
	padding: 10px;
	width: 400px;
	height: 400px;
  font-size: 1.8rem;

  border-style: groove;
  border-color: $color-light;
  border-width: 2px;
  border-radius: 2em;
}


