@use "../mixins" as *;
@use "../presets" as *;

.footer {
  position: absolute;
  z-index: 100;
  bottom: 0;

  display: inline-block;
  display: flex;
  align-items: flex-end;

  width: 100%;
  padding-bottom: 20px;

  background: linear-gradient(
  to top,
  rgba(0, 0, 0, 0.269),
  rgba(255, 255, 255, 0)
  );
}

.footer-box {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover,
  &:focus {
    color: $color-primary;
  }

  span {
    &:nth-of-type(1) {
      letter-spacing: 0.05em;

      font-weight: 400;

      @include ul-min {
        font-size: 20px;
      }
    }

    &:nth-of-type(2) {
      letter-spacing: 0.05em;

      color: $color-primary;

      font-weight: 100;

      @include ul-min {
        font-size: 20px;
      }
    }
  }
}

.fab {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;

  color: $color-primary;
  text-shadow: 0 0 40px rgb(255, 255, 255);

  @include ul-min {
    font-size: 40px;
  }
  @include ul-xl {
    font-size: 30px;
  }

  &:hover,
  &:focus {
    color: $color-highlight;
    text-shadow: 0 0 40px rgb(0, 0, 0);
  }
}
