@use "../mixins" as *;
@use "../presets" as *;

.home_carousel {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;

  width: 800px;
  height: 100%;
}

.home {
  position: static;

  margin-left: 10%;
}



.home_title {
  cursor: pointer;

  @include ul-min {
    font-size: 6rem;
  }
  &:hover,
  &:focus {
    color: $color-highlight;
    text-shadow: 0 0 40px rgb(0, 0, 0);
  }
}
.home_title_description {
  @include ul-min {
    font-size: 2rem;
  }
}
