@use "../mixins" as *;
@use "../presets" as *;

.wrapper {
  width: 100%;
  height: 100vh;
}

.main-box {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.page-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 20px;
}

.page-name {
  position: relative;

  display: block;

  margin-top: 30px;

  cursor: pointer;

  color: $color-highlight;

  span {
    &:nth-of-type(1) {
      letter-spacing: 0.15em;

      font-weight: 600;

      @include ul-min {
        font-size: 6rem;
      }
      @include ul-xl {
        font-size: 4.5rem;
      }
      @include xl-sm {
        font-size: 3rem;
      }
      @include sm {
        font-size: 2rem;
      }
    }

    &:nth-of-type(2) {
      letter-spacing: 0.05em;

      font-weight: 600;

      @include ul-min {
        font-size: 3rem;
      }
      @include ul-xl {
        font-size: 2rem;
      }
      @include xl-sm {
        font-size: 1.5rem;
      }
      @include sm {
        font-size: 1rem;
      }
    }
  }
  &:hover {
    color: $color-highlight;
    text-shadow: 0 0 50px rgb(0, 0, 0);
  }
}

.title {
  display: block;

  max-width: 800px;
  padding: 10px;

  color: $color-primary;
  border-width: 1px;
  border-style: groove;
  border-color: $color-highlight;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.326);

  &:hover {
    color: $color-highlight;
    text-shadow: 0 0 50px rgb(0, 0, 0);
  }
}

.title-spoiler {
  position: relative;

  margin-bottom: 20px;

  cursor: pointer;
}

.title-name {
  position: relative;
}

span {
  &:nth-of-type(1) {
    letter-spacing: 0.02em;

    font-weight: 400;

    @include ul-min {
      font-size: 2rem;
    }
    @include ul-xl {
      font-size: 1.8rem;
    }
    @include xl-sm {
      font-size: 1.6rem;
    }
    @include sm {
      font-size: 1.5rem;
    }
  }

  &:nth-of-type(2) {
    letter-spacing: 0.05em;

    font-weight: 100;

    @include ul-min {
      font-size: 1.4rem;
    }
    @include ul-xl {
      font-size: 1.3rem;
    }
    @include xl-sm {
      font-size: 1.2rem;
    }
    @include sm {
      font-size: 1.1rem;
    }
  }
}

.title-text {
  position: relative;

  padding: 10px;

  color: $color-light;
  border-width: 1px;
  border-style: groove;
  border-color: $color-highlight;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.571);
  text-shadow: 0 0 40px rgb(0, 0, 0);

  @include ul-min {
    font-size: 1.8rem;
  }
  @include ul-xl {
    font-size: 1.6rem;
  }
  @include xl-sm {
    font-size: 1.4rem;
  }
  @include sm {
    font-size: 1.3rem;
  }
}

.box {
  position: absolute;
  position: absolute;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  width: 100%;
  width: 100%;
  height: 100vh;
  height: 100vh;
}
