@use "../mixins" as *;
@use "../presets" as *;

.navbar-expand-lg {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.navbar-box {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

.nav-item {
  margin-right: 20px;

  color: $color-primary;

  font-size: 20px;

  &:hover {
    color: $color-highlight;
    text-shadow: 0 0 50px rgb(0, 0, 0);
  }
}
.selected {
  color: $color-highlight;
  text-shadow: 0 0 30px rgb(255, 0, 0);
}
