@use "../mixins" as *;
@use "../presets" as *;

.navbar {
	position: absolute;
	display: inline-block;
	width: 100%;
	background: linear-gradient(to bottom, rgb(95, 94, 94), rgba(0, 0, 0, 0));
	height: 50px;
	padding-left: 6rem;
	padding-top: 2rem;
	z-index: 5;
}

.navbar_list {
	position: relative;
	display: flex;
}
.navbar_item {
	list-style: none;
	margin-right: $gap;
	color: $color-primary;
	margin: 10px;
  text-shadow: 0 0 20px #000000;
}

.navbar_item:hover,.navbar_item:focus {
  text-shadow: 0 0 10px #000000;
	color: orange;
}