@use "../../mixins" as *;
@use "../../presets" as *;

.navbar {
	position: absolute;
	display: inline-block;
	z-index: 999;
	width: 100%;
	background: linear-gradient(to bottom, rgb(95, 94, 94), rgba(0, 0, 0, 0));
	height: 50px;
	padding-left: 60px;
	padding-top: 10px;
}

.navbar:hover,.navbar:focus {
}

.navbar_list {
	display: flex;
}
.navbar_item {
	list-style: none;
	margin-right: $gap;
	color: rgb(0, 0, 0);
	margin: 10px;
  text-shadow: 0 0 20px #000000;
}

.navbar_item:hover,.navbar_item:focus {
  text-shadow: 0 0 10px #000000;
	color: orange;
}