.main {
  z-index: 100;

  display: flex;

  margin-left: 20px;
}

.title_name {
  font-size: 8rem;
}
.title_box {
  font-size: x-small;
}
.description,
.title_description {
  font-size: xx-large;
}

.description,
.title_description {
  color: white;
}

.title_name:hover {
  color: orange;
  text-shadow: 0 0 50px orange;
}

.spoiler {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;

  background-position: center;
  background-size: cover;
}

.bg {
  z-index: -5;

  width: 100%;
  height: 100vh;

  opacity: 90%;
  background-position: center;
  background-size: cover;
}

