@use "../../mixins" as *;
@use "../../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: $font-main;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  position: relative;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 3rem;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 2.625rem;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}

h3 {
  letter-spacing: 0.05em;
  
  color: $color-primary;

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-light;
}

p {
  font-size: $font-size;
  color: $color-gray;
  position: relative;
}

input:focus {
  outline: none;
}

.title {
  top: 8rem;
  left: 100px;
  position: absolute;
  color: black;
  display: block;
  z-index: 999;
}

.title_name {
  z-index: 999;
  margin: 0;
  font-size: 80px;
  color: black;
}

.title_name:hover {
  font-size: 80px;
  color: orange;
  text-shadow: 0 0 15px orange;
}

.title_text {
  font-style: $font-main;
  top: 18rem;
  left: 100px;
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 15px;

  border-style: groove;
  border-color: rgba(0, 0, 0, 0.47);
  border-width: 1px;
  border-radius: 1em;
}

.slide_text{
  color: orange;
  position: absolute;
  display: block;
  padding: 10px;
  font-size: 50px;
  z-index: 999;

  left: -32rem;
  top: 13rem;

  text-shadow: 0 0 15px orange;
}


