@use "../mixins" as *;
@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;
}

h2 {
  position: relative;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;
}

h3 {
  letter-spacing: 0.05em;

  color: $color-primary;

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-light;
}

p {
  color: $color-light;
  position: relative;
  text-shadow: 0 0 10px rgb(0, 0, 0);

}

input:focus {
  outline: none;
}

.title {
  top: 6rem;
  left: 10rem;
  position: absolute;
  color: black;
  display: block;
  z-index: 10;

  @include md-sm {
    top: 4 rem;
  }

  @include sm {
    top: 10%;
    left: 10%;
  }
}

.title_name {
  margin: 0;
  color: $color-primary;
  text-shadow: 0 0 15px rgb(255, 255, 255);
  font-weight: 400;

  @include ul-min {
    font-size: 8rem;
  }

  @include ul-xl {
    font-size: 7rem;
  }

  @include xl-lg {
    font-size: 6rem;
  }

  @include lg-md {
    font-size: 5rem;
  }

  @include md-sm {
    font-size: 4rem;
  }

  @include sm {
    font-size: 3rem;
  }
}

.title_name:hover {
  color: orange;
  text-shadow: 0 0 50px orange;
}

.title_text {

  font-style: $font-main;
  color: $color-primary;
  text-shadow: 0 0 10px rgb(255, 255, 255);

  position: absolute;
  display: block;

  padding: 10px;
  z-index: 10;

  border-style: groove;
  border-color: $color-light;
  border-width: 2px;
  border-radius: 2em;

  @include ul-min {
    bottom: 4rem;
    left: 10rem;

    font-size: 2rem;
    width: 400px;
    min-height: auto;
  }

  @include ul-xl {
    bottom: 6rem;
    left: 5rem;

    font-size: 1.8rem;
    width: 400px;
    min-height: auto;
  }
  @include xl-lg {
    bottom: 3rem;
    left: 5rem;

    font-size: 1.6rem;
    width: 350px;
    min-height: auto;
  }

  @include lg-md {
    bottom: 6rem;
    left: 5rem;

    font-size: 1.6rem;
    width: 350px;
    min-height: auto;
  }

  @include md-sm {
    bottom: 6rem;
    left: 5rem;

    font-size: 1.6rem;
    width: 300px;
    min-height: auto;
  }

  @include sm {
    font-size: 2rem;
    top: 50%;
    left: 10%;
    right: 10%;
    bottom: 6rem;

    text-shadow: 0 0 8px rgb(255, 255, 255);

    font-size: 1.4rem;
    width: auto;
  }
}

.wrapper {
  display: flex;
  z-index: 1;
  margin-bottom: 10px;
}

.wrapper {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
