body {
  height: 100vh;
  margin: 0;

  background: white;
}

.controls {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.fa-angle-left,
.fa-angle-right {
  -webkit-transition: opacity 1s ease-out;
       -o-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;

  opacity: 0.2;
  color: rgba(2, 2, 24, 0.918);
  text-shadow: 0 0 15px #ffffff;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba(2, 2, 24, 0.918);
}

.control-next,
.control-prev,
.control-pause {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.control-prev {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  background:    linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.control-pause {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;

  height: 0;
  padding: 0;

  -webkit-transition: opacity 1s ease-out;
       -o-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;

  opacity: 0;
}

.control-pause:hover,
.control-pause:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.control-pause span {
  position: absolute;

  display: block;

  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);

  opacity: 0;
}

.control-prev {
  left: 0;

  width: 30%;
}

.fa-angle-left:hover,
.fa-angle-left:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: orange;
  text-shadow: 0 0 15px #000000;
}

.control-next {
  right: 0;

  width: 10%;
}

.fa-angle-right:hover,
.fa-angle-right:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: orange;
  text-shadow: 0 0 15px #000000;
}

.indicators {
  position: absolute;
  bottom: 2rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;

  list-style: none;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: -40px 7.5px 0;

  border: 3px solid rgba(2, 2, 24, 0.918);
  border-radius: 50%;
  outline: none;
  background: none;
  background-clip: padding-box;
}

.indicator:hover {
  cursor: pointer;
}

.indicator.active {
  border-color: orange;
}
.container {
  position: absolute;
  right: 0;

  min-width: 60%;
  min-height: 100vh;
  min-height: 100%;

  background-position: center;
  background-size: cover;
}

.slides {
  position: relative;

  height: 100vh;

  list-style-type: none;
}

.slide {
  position: absolute;
  z-index: -5;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;

  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
}

.slide a {
  position: absolute;
}

.slide.active {
  opacity: 1;
}

.slide_text {
  position: absolute;
  top: 0;

  height: auto;

  color: orange;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.49);

  font-family: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  letter-spacing: 0.08em;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.2em;
}

h2 {
  position: relative;

  color: rgba(2, 2, 24, 0.918);

  font-family: "Josefin Sans", sans-serif;
  line-height: 1.2em;
}

h3 {
  letter-spacing: 0.05em;

  color: rgba(2, 2, 24, 0.918);

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: #ffffff;
}

p {
  position: relative;

  color: #637588;
}

input:focus {
  outline: none;
}

.title {
  position: absolute;
  z-index: 10;
  top: 6rem;
  left: 10rem;

  display: block;

  color: black;
}

.title_name {
  margin: 0;

  color: rgba(2, 2, 24, 0.918);
  text-shadow: 0 0 15px rgb(255, 255, 255);

  font-weight: 400;
}

.title_name:hover {
  color: orange;
  text-shadow: 0 0 15px orange;
}

.title_text {
  position: absolute;
  z-index: 10;

  display: block;

  padding: 15px;

  color: rgba(2, 2, 24, 0.918);
  border-width: 1px;
  border-style: groove;
  border-color: rgba(2, 2, 24, 0.918);
  border-radius: 1em;

  font-style: "Josefin Sans", sans-serif;
}

.navbar {
  position: absolute;
  z-index: 5;

  display: inline-block;

  width: 100%;
  height: 50px;
  padding-top: 2rem;

  background: -webkit-gradient(linear, left top, left bottom, from(rgb(95, 94, 94)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgb(95, 94, 94), rgba(0, 0, 0, 0));
  background:    linear-gradient(to bottom, rgb(95, 94, 94), rgba(0, 0, 0, 0));
}

.navbar_list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.navbar_item {
  position: relative;

  margin: 10px;
  margin-right: 20px;

  list-style: none;

  color: rgba(2, 2, 24, 0.918);
  text-shadow: 0 0 20px #000000;
}

.navbar_item:hover,
.navbar_item:focus {
  position: relative;

  color: orange;
  text-shadow: 0 0 10px #000000;
}

@media (min-width: 992px) {
  .control-next,
  .control-prev,
  .control-pause {
    cursor: pointer;
  }
  .indicator {
    cursor: pointer;
  }
}

@media (min-width: 1340px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 30vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 10vh;
  }
  .slide_text {
    top: 28%;
    left: -50%;

    width: 400px;

    font-size: 3rem;
  }
  .title_name {
    font-size: 8rem;
  }
  .title_text {
    bottom: 4rem;
    left: 10rem;

    width: 400px;
    min-height: auto;

    font-size: 2rem;
  }
  .navbar {
    font-size: 1.6rem;
  }
}

@media (max-width: 1339.8px) and (min-width: 1200px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 20vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 7vh;
  }
  .slide_text {
    top: 28%;
    left: -50%;

    width: 300px;

    font-size: 3rem;
  }
  .title_name {
    font-size: 7rem;
  }
  .title_text {
    bottom: 6rem;
    left: 5rem;

    width: 400px;
    min-height: auto;

    font-size: 1.8rem;
  }
  .navbar {
    font-size: 1.6rem;
  }
}

@media (max-width: 1199.8px) and (min-width: 576px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 15vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 5vh;
  }
}

@media (max-width: 1199.8px) and (min-width: 768px) {
  .slide_text {
    top: 28%;
    left: -40%;

    width: 200px;

    font-size: 3rem;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .title_name {
    font-size: 6rem;
  }
  .title_text {
    bottom: 3rem;
    left: 5rem;

    width: 350px;
    min-height: auto;

    font-size: 1.6rem;
  }
  .navbar {
    font-size: 1.4rem;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .title_name {
    font-size: 5rem;
  }
  .title_text {
    bottom: 6rem;
    left: 5rem;

    width: 350px;
    min-height: auto;

    font-size: 1.6rem;
  }
  .navbar {
    font-size: 1.2rem;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .container {
    min-width: 100%;
  }
  .slide_text {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
  .title {
    top: 4 rem;
  }
  .title_name {
    font-size: 4rem;
  }
  .title_text {
    bottom: 6rem;
    left: 5rem;

    width: 300px;
    min-height: auto;

    font-size: 1.6rem;
  }
  .navbar {
    font-size: 1rem;
  }
}

@media (max-width: 575.8px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 10vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 4vh;
  }
  .container {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .slide_text {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
  .title {
    top: 10%;
    left: 10%;
  }
  .title_name {
    font-size: 3rem;
  }
  .title_text {
    top: 50%;
    right: 10%;
    bottom: 6rem;
    left: 10%;

    width: auto;

    text-shadow: 0 0 8px rgb(255, 255, 255);

    font-size: 2rem;
    font-size: 1.4rem;
  }
  .navbar {
    padding: 0;
    padding-top: 20px;

    font-size: 1rem;
  }
}
