.controls__item {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.fa-angle-left,
.fa-angle-right {
  -webkit-transition: opacity 1s ease-out;
       -o-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;

  opacity: 0.2;
  color: #2d3651;
  text-shadow: 0 0 15px #ffffff;
}

.fa-play-circle,
.fa-pause-circle {
  color: #2d3651;
}

.controls__next,
.controls__prev,
.controls__pause {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.controls__prev {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  background:    linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.controls__next {
  background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
  background:    linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.controls__pause {
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;

  height: 0;
  padding: 0;

  -webkit-transition: opacity 1s ease-out;
       -o-transition: opacity 1s ease-out;
          transition: opacity 1s ease-out;

  opacity: 0;
}

.controls__pause:hover,
.controls__pause:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.controls__pause span {
  position: absolute;

  display: block;

  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);

  opacity: 0;
}

.controls__prev {
  left: 0;

  width: 10%;
}

.fa-angle-left:hover,
.fa-angle-left:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: rgb(208, 8, 8);
  text-shadow: 0 0 15px #000000;
}

.controls__next {
  right: 0;

  width: 10%;
}

.fa-angle-right:hover,
.fa-angle-right:focus {
  -webkit-transition: opacity 1s ease-in 0.01s;
       -o-transition: opacity 1s ease-in 0.01s;
          transition: opacity 1s ease-in 0.01s;

  opacity: 1;
  color: rgb(208, 8, 8);
  text-shadow: 0 0 15px #000000;
}

.indicators {
  position: absolute;
  bottom: 2rem;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;

  list-style: none;
}

.indicators__item {
  width: 20px;
  height: 20px;
  margin: -40px 7.5px 0;

  border: 3px solid #2d3651;
  border-radius: 50%;
  outline: none;
  background: none;
  background-clip: padding-box;
}

.indicators__item:hover {
  cursor: pointer;
}

.indicators__item.active {
  border-color: rgb(208, 8, 8);
}
.container {
  position: absolute;
  right: 0;

  min-width: 70%;
  min-height: 100vh;
  min-height: 100%;

  background-position: center;
  background-size: cover;
}

.slides {
  position: relative;

  height: 100vh;

  list-style-type: none;
}

.slides__item {
  position: absolute;
  z-index: -5;

  width: 100%;
  height: 100%;

  -webkit-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;

  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
}

.slides__item a {
  position: absolute;
}

.slides__item.active {
  opacity: 1;
}

.slide_text {
  position: absolute;
  top: 0;

  color: orange;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.49);

  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

@media (min-width: 992px) {
  .controls__next,
  .controls__prev,
  .controls__pause {
    cursor: pointer;
  }
  .indicators__item {
    cursor: pointer;
  }
}

@media (min-width: 1340px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 30vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 10vh;
  }
  .slide_text {
    top: 35%;
    left: -35%;

    width: 300px;

    font-size: 4rem;
  }
}

@media (max-width: 1339.8px) and (min-width: 1200px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 20vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 7vh;
  }
  .slide_text {
    top: 28%;
    left: -50%;

    width: 300px;

    font-size: 3rem;
  }
}

@media (max-width: 1199.8px) and (min-width: 576px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 15vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 5vh;
  }
}

@media (max-width: 1199.8px) and (min-width: 768px) {
  .slide_text {
    top: 28%;
    left: -40%;

    width: 200px;

    font-size: 3rem;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .container {
    min-width: 100%;
  }
  .slide_text {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
}

@media (max-width: 575.8px) {
  .fa-play-circle,
  .fa-pause-circle {
    font-size: 10vh;
  }
  .fa-angle-left,
  .fa-angle-right {
    font-size: 4vh;
  }
  .container {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }
  .slide_text {
    top: 28%;
    left: 20%;

    font-size: 3rem;
  }
}
